.grids-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

.grids-container app-grid {
  background-color: #6cad84;
  border: 1px solid black;
}
